@import 'customVariables';

/* angular-ui-bootstrap fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; };

/* body */
body {
  font-family: $bodyFontFamily !important;
}

/* global loader */
.globalLoader {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: url(/images/gif/loading.gif);
}

/* top menu bar */
.icudo-navbar {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 10px;
}

.icudo-menu-button {
  margin: 10px;
  width: 40px;
  height: 40px;
  background-color: #ececec !important;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.icudo-button-huge {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.icudo-button-logo {
  background: url(/images/svg/icudo_symbol.svg);
  background-size: contain;
}


.icudo-button-plus {
  background: url(/images/svg/icudo_plus_symbol.svg);
  background-size: contain;
}

/* datepicker */

.datepicker-td {
  width: 288px; //this is a hacky trick to enable centered positining for the datepicker
  @media #{$bp-tiny} {
    width: auto;
    table {
      margin: 0 auto;
    }
  }
}
.datepicker-wrapper .dropdown-menu {
  margin-top: 50px;
  left: auto !important;
  right: auto !important;
  //ugly hack for tiny screens
  @media #{$bp-tiny} {
    left: 0 !important;
    right: 0 !important;
  }
}

/* displaying tasks table */

.tasks-table {
  tr {
    height: 50px;
    min-height: 50px;
    td {
      vertical-align: middle !important;
      &.indicator-cell {
        width: $buttonSize*1.5;
      }
    }
  }
}

.tasksTableTop {
  font-weight: bold;
}

.focusTasksRow {
  td {
    .taskName {
      font-weight: bold;
    }
  }
  td.taskActionsTd {
    text-align: right;
    width: 10%;
  }
}

.task-indicator {
  display: inline-block;
  height: $buttonSize;
  min-height: $buttonSize;
  width: $buttonSize;
  min-width: $buttonSize;
  border: 1px solid #000;
  border-radius: $buttonSize;
  &.important {
    border: none;
    background-color: $icudo-color-important;
  }
  &.cool {
    border: none;
    background-color: $icudo-color-cool;
  }
  &.urgent {
    border: none;
    background-color: $icudo-color-urgent;
  }
  &:hover {
    cursor: pointer;
  }
}

/* mobile menu */
.mobileMenu {
  li {
    text-align: center;
    background-color: #eee;
    margin-bottom: 6px;
  }
}


/* footer */
.footer {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* landing */
.headline {
  font-weight: 600;
}
.tagline {
  font-size: 110%;
}
.elevatorpitch {
  text-align: justify;
}

/* responsive helpers */
.show-desktop {
  display: none;
  @media #{$bp-desktop} {
    display: block;
  }
}

.hide-desktop {
  display: block;
  @media #{$bp-desktop} {
    display: none;
  }
}

/* general helpers */

.icudo-underline {
  border-bottom: 1px dotted #000;
}

.icudo-important {
  color: $icudo-color-important;
}

.icudo-cool {
  color: $icudo-color-cool;
}

.icudo-urgent {
  color: $icudo-color-urgent;
}

.crossed {
  text-decoration: line-through;
}

.centered {
  text-align: center;
  float:none;
}

.red {
  color: red;
}

/* custom reusable classes */
.spacer-y {
  min-height: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
