/* angular-ui-bootstrap fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; };

/* general helpers */
.crossed {
    text-decoration: line-through;
}

.red {
    color: red;
}

/* custom reusable classes */
.spacer-y {
    margin-top: 10px;
    margin-bottom: 10px;
}
