@import 'customVariables';

/* angular-ui-bootstrap fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; };


/* top menu bar */
.icudo-navbar {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 10px;
}

.icudo-menu-button {
  margin: 3px;
}

//datepicker
.datepicker-td {
  width: 288px; //this is a hacky trick to enable centered positining for the datepicker
  @media #{$bp-tiny} {
    width: auto;
  }
}
.datepicker-wrapper .dropdown-menu {
  margin-top: 50px;
  left: auto !important;
  right: auto !important;
  //ugly hack for tiny screens
  @media #{$bp-tiny} {
    left: 0 !important;
    right: 0 !important;
  }
}

/* displaying tasks table */

.tasks-table {
  tr {
    td.indicator-cell {
      width: $buttonSize*1.5;
    }
  }
}

.focusTasksRow {
  td {
    .taskName {
      font-weight: bold;
    }
  }
}

.task-indicator {
  display: inline-block;
  height: $buttonSize;
  min-height: $buttonSize;
  width: $buttonSize;
  min-width: $buttonSize;
  border: 1px solid #000;
  border-radius: $buttonSize;
  &.important {
    border: none;
    background-color: rgb(0,0,255);
  }
  &.cool {
    border: none;
    background-color: rgb(0,255,0);
  }
  &.urgent {
    border: none;
    background-color: rgb(255,0,0);
  }
  &:hover {
    cursor: pointer;
  }
}

/* general helpers */
.crossed {
  text-decoration: line-through;
}

.centered {
  text-align: center;
  float:none;
}

.red {
  color: red;
}

/* custom reusable classes */
.spacer-y {
  margin-top: 10px;
  margin-bottom: 10px;
}
