<div class="form-group">
  <input type="text" class="form-control" id="taskInput" placeholder="Enter task" ng-model="task.name" required auto-focus>
</div>
<div>
  <label class="checkbox-inline">
    <input type="checkbox" ng-model="task.important"> important
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" ng-model="task.cool"> cool
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" ng-model="task.urgent"> urgent
  </label>
  <button type="submit" class="btn btn-success pull-right">add</button>
</div>
