<td class="indicator-cell"><span class="task-indicator" ng-class="{important: task.important}" ng-click="toggleTaskAttribute(task.id, 'important')"></span></td>
<td class="indicator-cell"><span class="task-indicator" ng-class="{cool: task.cool}" ng-click="toggleTaskAttribute(task.id, 'cool')"></span></td>
<td class="indicator-cell"><span class="task-indicator" ng-class="{urgent: task.urgent}" ng-click="toggleTaskAttribute(task.id, 'urgent')"></span></td>
<td ng-click="goToEdit(task.id)" ng-swipe-right="changeTaskStatus(task.id, 'done')">
  <span class="taskName"> 
    {{task.name}}
  </span>
</td>
<td>
  <div ng-include src="'/views/partials/singleActiveTaskActions.html'"></div>
</td>
