<div ng-hide="auth.user">
  <div ng-include src="'/views/partials/headerUnauthorized.html'"></div>
  <div class="row centered">
    <h1 class="headline"><span class="icudo-important">I</span><span class="icudo-cool">C</span><span class="icudo-urgent">U</span>DO</h1>
    <h4 class="tagline">do what matters</h4>
  </div>
  <div class="spacer-y"></div>
  <div class="elevatorpitch">
    <p>We all want to do more than we can. Todo lists quickly get out of hand. And with every task being <span class="icudo-urgent">urgent</span>, you end up never making time to focus on what's <span class="icudo-important">important</span> or on what you <span class="icudo-cool">really want to do</span>.</p>
    <p><span class="icudo-important">I</span><span class="icudo-cool">C</span><span class="icudo-urgent">U</span>DO - is a different approach which focuses on what matters. The principle is simple:</p>
      <p>Every day start afresh and do at least 3 things: one that is <span class="icudo-important">important</span>, one that is <span class="icudo-cool">cool</span> and one that is <span class="icudo-urgent">urgent</span>.</p>
  </div>
  <div class="spacer-y"></div>
  <div class="row centered">
    <a class="btn btn-large btn-success" ng-href="#/signup">Sign up</a>
  </div>
  <div class="spacer-y"></div>
  <div class="row centered">
    <p>Already a user?</p>
    <a class="btn btn-default" ng-href="#/login">Login</a>
  </div>
  <div class="spacer-y"></div>
</div>
