<div class="row">
    <div ng-include src="'/views/partials/loading.html'"></div>
    <div ng-show="allLoaded">
        <h4>Your Focus for today:</h4>
        <ul>
            <li ng-repeat="(id, task) in tasks">
                <span>
                    <span class="taskName" ng-class="{crossed: task.status == 'done'}">
                        {{task.name}}
                    </span>
                    <span class="taskActions" ng-show="task.status == 'active'">
                        - <a href ng-click="markDone(id)" >mark done</a>
                    </span>
                </span>
            </li>
        </ul>
        <hr />
        <form class="form-inline" role="form" ng-submit="addTask()"> 
            <div class="form-group">
                <input type="text" class="form-control" id="newTaskInput" placeholder="Enter task" ng-model="newTask.name" required>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="newTask.important"> important
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="newTask.urgent"> urgent
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="newTask.interesting"> interesting
                </label>
            </div>
            <button type="submit" class="btn btn-success">add</button>
        </form>
    </div>
</div>
