<div ng-include src="'/views/partials/headerUnauthorized.html'"></div>

<div class="omb_login">

    <div class="spacer-y"></div>
    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">    
            <form class="omb_loginForm" name="loginForm" ng-submit="signup()">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="username" placeholder="Your Name" ng-model="newUserName" required auto-focus>
                </div>
                <span class="help-block"></span>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" class="form-control" name="userEmail" placeholder="email address" ng-model="newUserEmail"required>
                </div>

                <div class="spacer-y"></div>
                <button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
            </form>
        </div>
    </div>
    <div class="spacer-y"></div>
    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-3">
            <p class="omb_forgotPwd">
            <a ng-href="#/login">Already have an account?</a>
            </p>
        </div>
    </div>          
</div>
