<h2>Your Profile settings: </h2>

<form role="form" name="updateUserSettingsForm" ng-submit="updateUserSettings()">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address:</label>
        <p>{{user.userData.email}}</p>
    </div>
    <div class="form-group">
        <label for="username">Name:</label>
        <input type="text" class="form-control" id="username" ng-model="user.userData.name" required>
    </div>
    <button type="submit" class="btn btn-success">Update Settings</button>
    <div class="spacer-y"></div>
</form>

<a ng-href="#/changepassword">Update Password</a>
<div class="spacer-y"></div>
